body{
	background-image: url(images/main4.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

div.list{
	position: relative;
	margin: 12%;
}

div.block{
	float: left;
	margin: 7%;
	outline-style: solid;
	outline-width: 3px;
	outline-color: #ffffff;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 1em;
	padding-right: 1em;
}

a{
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	width: 20em;
	height: 20em;
	text-decoration: none;
}

a:link{
}

a:visited{
}

a:hover{
	color: pink;
}

a:active{

}

